<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing Events - All Events</title>
    <link rel="stylesheet" href="./Assets/Styles/style.css" />
    <link rel="shortcut icon" href="./Assets/Images/favicon.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <img src="./Assets/Images/amazing_brand.png" alt="logotipo" class="logotipo" />
                    <div class="text-end">
                        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="btn" href="#">All events</a>
                                <a class="btn" href="./Assets/Pages/upcomingEvents.html">Upcoming Events</a>
                                <a class="btn" href="./Assets/Pages/pastEvents.html">Past Events</a>
                                <a class="btn" href="./Assets/Pages/contact.html">Contact</a>
                                <a class="btn" href="./Assets/Pages/stats.html">Stats</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./Assets/Images/optional_banner_1.jpg" class="banner" alt="banner1" />
                        <div class="carousel-caption">
                            <h5>All Events</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap align-items-center justify-content-around m-4 gap-3">
                <div class="checkBoxes text-center" id="checkBoxes">
                    <div v-for="check of listaCheck" class="d-inline-flex px-1">
                        <input class="checkbox mx-2" type="checkbox" :id="check" :value="check" v-model="checkOn"
                            @change="filtroCruzado">
                        <label class="form-check-label" :for="check">{{check}}</label>
                    </div>
                </div>
                <label class="d-flex px-2" role="search" id="search">
                    <input class="form-control busqueda" type="search" aria-label="Search" name="search"
                        v-model="inputSearch" v-on:keyup="filtroCruzado">
                    <button class="btn" type="submit"><i class="bi bi-search"></i></button>
                </label>
            </div>
            <div class="d-flex justify-content-center flex-wrap gap-4" id="contenedorCards">
                <div v-if="filtrados.length != 0" v-for="event of filtrados" class="card mb-3">
                    <img v-bind:src="event.image" class="card-img-top" :alt="event.name">
                    <h5 class="tituloTarjetas">{{event.name}}</h5>
                    <div class="card-body d-flex flex-column body-description">
                        <p class="card-text">{{event.description}}</p>
                    </div>
                    <div class="body-price card-body d-flex justify-content-between align-items-center">
                        <p class="precio"> ${{event.price}}</p>
                        <a v-bind:href="`./Assets/Pages/details.html?parameter=${event._id}`"
                            class="detailButton">Details</a>
                    </div>
                </div>
                <h3 v-else>There is no such event.</h3>
            </div>
        </main>
        <footer>
            <div class="iconos">
                <a href="#" class="a-icono"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="a-icono"><i class="bi bi-whatsapp"></i></a>
                <a href="#" class="a-icono"><i class="bi bi-telegram"></i></a>
            </div>
            <div>
                <p class="p-footer">&copy; 2024 Amazing Events.</p>
            </div>
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./Assets/Script/main.js"></script>
</body>

</html>