<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stats</title>
    <link rel="stylesheet" href="../Styles/style.css" />
    <link rel="shortcut icon" href="../Images/favicon.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <img src="../Images/amazing_brand.png" alt="logotipo" class="logotipo" />
                    <div class="text-end">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="btn" href="../../index.html">All Events</a>
                                <a class="btn" href="./upcomingEvents.html">Upcoming Events</a>
                                <a class="btn" href="./pastEvents.html">Past Events</a>
                                <a class="btn" href="./contact.html">Contact</a>
                                <a class="btn" href="#">Stats</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../Images/outing_to_the_museum.jpg" class="banner" alt="banner1" />
                        <div class="carousel-caption">
                            <h5>STATS</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <table class="tablastats">
                    <thead>
                        <tr>
                            <th colspan="3">Events Statistics</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Events with highest % of assistance</td>
                            <td>Events with lowest % of assistance</td>
                            <td>Events with larger capacity</td>
                        </tr>
                        <tr>
                            <td>{{porcentajeMayor(pastEvents)}}</td>
                            <td>{{porcentajeMenor(pastEvents)}}</td>
                            <td>{{capacidadMax(events)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <table class="tablastats" >
                    <thead>       
                        <tr>
                            <th colspan="3">Upcoming events statistics by category</th>
                        </tr>
                    </thead>        
                    <tbody id="segundaTabla" >
                        <tr>
                            <td>Categories</td>
                            <td>Revenues</td>
                            <td>Percentage of assistance</td>
                        </tr>
                        <tr v-for="fila of tablaDos">
                            <td>{{fila.categoria}}</td>
                            <td>{{fila.ganancia}}</td>
                            <td>{{fila.porcentaje}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center tablaTres">
                <table class="tablastats">
                    <thead>
                        <tr>
                            <th colspan="3">Past events statistics by category</th>
                        </tr>
                    </thead>
                    <tbody id="tercerTabla">
                        <tr>
                            <td>Categories</td>
                            <td>Revenues</td>
                            <td>Percentage of assistance</td>
                        </tr>
                        <tr v-for="colum of tablaTres">
                            <td>{{colum.categoria}}</td>
                            <td>{{colum.ganancia}}</td>
                            <td>{{colum.porcentaje}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer>
            <div class="iconos">
                <a href="#" class="a-icono"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="a-icono"><i class="bi bi-whatsapp"></i></a>
                <a href="#" class="a-icono"><i class="bi bi-telegram"></i></a>
            </div>
            <div>
                <p class="p-footer">&copy; 2024 Amazing Events.</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../Script/stats.js"></script>
</body>

</html>